<div class="sidenav" [ngClass]="!collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">N</button>
        <div class="logo-text" *ngIf="collapsed">
            <span>Nurudeen</span>
        </div>
        <!-- <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button> -->
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a 
                routerLink="{{ data.routeLink }}" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" 
                class="sidenav-nav-link">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="icon">
        <a href="https://www.linkedin.com/in/nurudeen-bada-457a43200/" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icon/linkedin.png" alt="">
        </a>
    </div>
</div>


 