<div class="about">
    <span class="heading">my projects</span><hr class="line"> <hr class="line" style="width: 3rem;" >

    <div class="skills">
        <div class="skill_card" *ngFor="let project of allProjects">
            <img src="{{project.projectImage}}" aTilt alt="">
            <div class="">
              <div>
                <h2 class="mb-0">
                  <span class="skill_name">{{project.projectName}}</span>
                </h2>
              </div>
          
              <div>
                <div>
                    <p class="skill_description">
                        {{project.projectDescription}}
                    </p>

                    <div class="tech_used">
                        <h6>Tech Used</h6>
                        <span>{{project.techUsed}}</span>
                    </div>
                </div>
                <div>
                  <a *ngIf="project.projectLink" class="project_button" href="{{project.projectLink}}" target="_blank">Live</a>
                  <a *ngIf="!project.projectLink" class="project_button">Not Live</a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div *ngIf="allProjects.length === 0" class="coming_soon">
      <h1>Coming Soon</h1>
    </div>
</div>





  

