<div class="about">
    <span class="heading">about me</span><hr class="line"> <hr class="line" style="width: 3rem;" >
    <div class="introduction row">
        <div>
            <figure class="figure">
                <img src="../../../../assets/images/KAY_2057.jpeg" alt="Nurudeen" class="my_img">
            </figure>
            <div class="title">
                <span>I am Nurudeen Bada a</span>&nbsp;
                <span id="name">frontend developer</span>
            </div>
            <div class="para">
                <p>
                    My name is Nurudeen Olanrewaju Bada. I am a Front-end Developer focused on Angular as 
                    my frontend stack. Though my undergraduate study was not in computer science or any 
                    tech related field, I have always wanted to further my career in a more dynamic and practical
                    industry like the technology industry, particularly in software development, which has 
                    hence shaped my career decisions. 
                </p>
        
                <p>
                    I started my journey with the basics of Frontend Development just like any other aspiring developer
                    taking online courses, reading any PDF material I could get my hands on amongst other things. To further hone 
                    my skills, I undertook a bootcamp and that was a game changer because I was introduced to different concepts 
                    of frontend development.
                    I have worked as a freelancer for different clients on series of projects and also took up employment 
                    opportunities to further develop and gain more industrial experience.
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="action_buttons">
        <button>Download CV</button>
        <button>
            Hire Me
        </button>
    </div> -->

    <div class="skills_heading">
        <h4>Skills</h4>
    </div>
    <!-- <div *ngIf="isLoading === true" class="lds-facebook"><div></div><div></div><div></div></div> -->
    <!-- <div class="loading" *ngIf="isLoading === true">
        <span>loading...</span>
    </div> -->
    <div class="skills">
        <div class="skill_card" *ngFor="let skill of allSkills" aTilt>
            <span class="skill_name">{{skill.skillName}}</span>
            <figure>
                <img src="{{skill.skillImage}}" alt="">
            </figure>
            <span class="skill_description">{{skill.description}}</span>
            <a href="{{skill.linkToSkillInfo}}" target="_blank">read more...</a>
        </div>
    </div>
</div>

<!-- hire me modal -->




  

