<div class="home container-fluid">
    <div class="row">
        <div class="col-lg-5 image order-md-1 order-lg-2">
            <figure>
                <img src="../../../../assets/images/KAY_2059.jpg" alt="" class="">
            </figure>
        </div>

        <div class="col-lg-7 heading order-md-2 order-lg-1">
            <h2 class="intro">
                <span>Hello, my name is</span>
                <span class="name">Nurudeen Bada</span>
            </h2>

            <h2 class="title">
                <span>I am a</span>
                <span class="role tw"></span>
            </h2>

            <p>
                I am a Frontend Developer with extensive experience building sites and application utilizing 
                present-day frontend technologies. Building cutting-edge, user-friendly application is a
                passion of mine and I love what I do 
            </p>
        </div>

        
    </div>
</div>
