<div class="footer">
    <span>&copy; {{ currentYear }} Nurudeen Bada</span>
    <!-- <span>
        <a href="http://">
            <fa-icon 
            [icon]="faLinkedin" 
            [styles]="{ stroke: '#444d58', color: '#FF0063'}"
            size="lg"
            >
            </fa-icon>
        </a>
    </span>
    <span>
        <a href="http://">
            <fa-icon 
            [icon]="faInstagram" 
            [styles]="{ stroke: '#444d58', color: '#FF0063'}"
            size="lg"
            >
            </fa-icon>
        </a>
    </span> -->
</div>

