.page-not-found {
  max-width: 40rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  color: #2c3639;

  .status-code {
    margin-bottom: 0.5rem;
    color: #ff0063;
    font-size: 3rem;
    font-weight: 700;
  }

  a {
    display: inline-block;
    margin-top: 1rem;
    color: #ff0063;
    font-weight: 700;
  }
}
